
.vs/boat/DesignTimeBuild/.dtbcache
.vs/boat/v15/.suo
*.lock
.vs/boat/v15/Server/sqlite3/storage.ide
.vs/boat/v15/Server/sqlite3/storage.ide-shm
.vs/boat/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
